* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 59);
}
.App {
  text-align: center;
}

.upperPart {
  margin: 5% auto;
  width: 60%;
}
.inpField,
.btn {
  height: 40px;
  width: 300px;
  outline: none;
  margin-left: 1%;
}
.tasksList {
  display: flex;
  margin: 1% auto;
  width: 20%;
  justify-content: space-between;
  background-color: lightblue;
}
h1 {
  color: whitesmoke;
}
.btn1 {
  height: 40px;
  width: 60px;
  background-color: rgb(245, 59, 59);
  color: azure;
  outline: none;
}
.btn2 {
  height: 40px;
  width: 60px;
  background-color: rgb(8, 94, 0);
  color: azure;
  outline: none;
}
